<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>User registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="container">
    <form method="post">
        <div class="form-group">
            <label>Username
                <input class="form-control" th:field="${registerFormDTO.username}" />
            </label>
            <p class="validationError" th:errors="${registerFormDTO.username}"></p>
        </div>
        <div class="form-group">
            <label>Password
                <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
            </label>
            <p class="validationError" th:errors="${registerFormDTO.password}"></p>
        </div>
        <div class="form-group">
            <label>Verify Password
                <input class="form-control" th:field="${registerFormDTO.passwordVerification}" type="password" />
            </label>
        </div>

        <input type="submit" class="btn btn-primary" value="Register" />
    </form>

    <p><a href="/login">Nevermind, take me back to login.</a></p>

</body>
</html>